/* _content/CompanyApp.Component.Agriculture/Component1.razor.rz.scp.css */
.my-component[b-nl0mjm5lwj] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
